:root {
  --text-color: #000000;
  --bg-color: #ebebe6;
}

.text-black {
  color: var(--color-black);
}

.bg-black {
  background-color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}
