/* Inter */
.heading {
  font-family: "Inter", sans-serif;
  font-size: 58px;
  line-height: 70px;
  font-weight: 400;
}

.sans-serif-large {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.sans-serif-small {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

/* Cormorant */
.serif-large {
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.serif-small {
  font-family: "Cormorant", serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
